:root {
	--base: #4C87EE;
	--spacing: 10px;
	--blur: 10px;
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}

.h2 {
	color: var(--base);
}

/*
 misc styles, nothing to do with CSS variables
*/

body {
	text-align: center;
 }

body {
    background: #D51647;
    color: white;
    font-family: 'verdana', sans-serif;
    font-weight: 100;
    font-size: 40px;
}

.controls {
    margin-bottom: 50px;
}

a {
    color: var(--base);
    text-decoration: none;
}

input {
    width:100px;
}
